:root {
  --font-pages: Arial, Helvetica, sans-serif;
  --light-green: #5A7969;
  --dark-green: #173A2B;
  --light-skin: #FBE8D8;
  --dark-skin: #E5C7B1;
  --brownish: #BB885E;
  --orangeish: #CB6B4D;
}

body {
  font-family: var(--font-pages);
  background-image: url("./../assets/imgs/coffee-house-logo.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--light-skin);
}