#content {
  padding: 1rem;
}

#content > div {
  background-color: whitesmoke;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 0px 3px 19px 2px #000000;
}

h2 {
  padding: 1rem;
  text-align: center;
  background-color: #E5C7B1DD;
  /*Stopping the background overflow through parents border-radius*/
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

ul {
  padding: 1.5rem;
  list-style: none;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 2rem;
}

li {
  height: 200px;
  background-color: #9dd6b8;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
}